<span id="demoFooter">
  code: <a href="https://thmsdnnr.github.io">thmsdnnr</a><br />
  repo: <a href="https://github.com/thmsdnnr/tickster">github</a><br />
  data: <a href="https://www.quandl.com">quandl</a>
</span>
