html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

span.suggestion {
  background-color: black;
  color: white;
}

span.suggestion:hover {
  background-color: tomato;
}

div#pageContainer {
  width: 1080px;
  height: 600px;
  margin: auto;
  background-color: rgba(214,213,233,0.3);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

div#pageContainer h1 {
  font-family: 'Courier New', monospace;
  font-size: 2em;
  letter-spacing: 0.4em;
}

div#stockContainer {
   width: 800px;
   max-width: 800px;
   min-width: 460px;
   min-height: 284px;
   height: 500px;
   margin: 10px auto 10px auto;
   border: 1px solid tomato;
   padding: 5px;
   margin: 0px auto 10px auto;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  outline: none;
  position: relative;
  float:right;
  border: 1px solid black;
 }

div#controls {
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  width: 250px;
  height: auto;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  border: 1px dotted orange;
  z-index: 1;
  background-color: rgba(123,124,132,0.6);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

canvas#stockGraph{
  display: inline;
  position: relative;
  float:right;
  -webkit-user-select: none;  /* Chrome all / Safari all */
 -moz-user-select: none;     /* Firefox all */
 -ms-user-select: none;      /* IE 10+ */
 user-select: none;
 outline: none;
}

div#stockList {
  flex: 0 1 auto;
  float:right;
  display: inline-block;
  width: 200px;
  max-width: 400px;
  max-height: 500px;
  height: auto;
  font-family: 'Courier New', monospace;
  text-align: left;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-right: 10px;
}

div#ticker {
  flex: 0 1 auto;
  display: inline;
  width: auto;
  height: auto;
  font-family: 'Courier New', monospace;
}

span#msg {
  flex: 0 1 auto;
  display: inline;
  float: right;
  width: 400px;
  height: auto;
  font-family: 'Courier New', monospace;
  font-size: 1em;
}

input#tickerSymbol{
  width: 180px;
  height: auto;
  font-family: 'Courier New', monospace;
  font-size: 1em;
}

div#stockList span:hover {
  background-color: tomato;
}

span#demoFooter {
  display: inline;
  text-align: left;
  width: auto;
  margin: auto;
  font-size: 1em;
  font-family: 'Courier New', monospace;
  letter-spacing: 0.1em;
  color: black;
  position: fixed;
  left: 4px;
  bottom: 4px;
}

span#demoFooter a {
  color: green;
  background-color: rgba(0,0,0,0);
}
